<h4><small> </small> </h4>
<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span>GANA CON YAPE</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>


<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>REGISTRO </ng-template>
            <h1 class="h1">COLABORADOR</h1>
            <mat-form-field>
                <mat-label>DNI Colaborador</mat-label>
                <input type="text" matInput formControlName="dnicolaborador" required maxlength="8">
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input type="text" matInput formControlName="cusuario" required maxlength="4">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Fecha Emisión</mat-label>
                <input type="date" matInput formControlName="fecemision" required>
            </mat-form-field>

            <div>
                &nbsp;
            </div>
            <h1 class="h1">DATOS PERSONALES CLIENTE</h1>
            <mat-form-field>
                <mat-label>DNI Cliente</mat-label>
                <input matInput name="dni" formControlName="dnicliente" required minlength="3" maxlength="8">

            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput name="nombres" formControlName="nombres" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Apellido Paterno</mat-label>
                <input matInput name="apPaterno" formControlName="apPaterno" required>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-label>Apellido Materno</mat-label>
                <input matInput name="apMaterno" formControlName="apMaterno" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Correo Electrónico</mat-label>
                <input type="email" matInput name="email" formControlName="eMail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Celular</mat-label>
                <input matInput name="celular" formControlName="celular" required maxlength="9">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Condición</mat-label>
                <input matInput>
                <br>

                <mat-radio-group formControlName="valoresRadio">
                    <mat-radio-button class="example-margin" value="1">Cliente</mat-radio-button>
                    &nbsp;
                    <mat-radio-button class="example-margin" value="2">Comercio</mat-radio-button>

                </mat-radio-group>
            </mat-form-field>
            <br>
            <mat-label>* El Cliente debe tener activo la opción de compras por internet</mat-label>
            <br>
            <div>
                &nbsp;
            </div>
            <div class="recaptcha">
                <re-captcha (resolved)="resolver($event)" siteKey="6Lduns0ZAAAAAJD5RpE5iToJRbDu9KNgdo_Ftgo8">

                </re-captcha>
            </div>

            <br>
            <div>
                <!-- <button mat-button matStepperPrevious>Back</button> -->

                <button mat-raised-button color="primary" (click)="enviar()" [formGroup]="firstFormGroup">ENVIAR</button>
            </div>
            <div>
                &nbsp;
            </div>


        </form>
    </mat-step>


</mat-vertical-stepper>
<mat-card-footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <img mat-card-image SRC="assets\IMG\caja-cusco-imagen2.png">
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.cmac-cusco.com.pe/"> cmac-cusco.com.pe</a>
    </div>
</mat-card-footer>

<script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }
</script>
<!--js-->
<script src='https://www.google.com/recaptcha/api.js'></script>