<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span>GANA CON YAPE</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>


<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>REGISTRO </ng-template>
            <h1 class="h1">COLABORADOR</h1>
            <mat-form-field>
                <mat-label>DNI Colaborador</mat-label>
                <input type="TEXT" matInput formControlName="dnicolaborador" placeholder="colaborador" required>
            </mat-form-field>
            <div>
                &nbsp;
            </div>
            <h1 class="h1">DATOS PERSONALES CLIENTE</h1>
            <mat-form-field>
                <mat-label>DNI Cliente</mat-label>
                <input matInput name="dni" formControlName="dnicliente" placeholder="DNI" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput name="nombres" formControlName="nombres" placeholder="Nombres" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Apellido Paterno</mat-label>
                <input matInput name="apPaterno" formControlName="apPaterno" placeholder="Ap. Paterno" required>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-label>Apellido Materno</mat-label>
                <input matInput name="apMaterno" formControlName="apMaterno" placeholder="Ap. Materno" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Correo Electrónico</mat-label>
                <input matInput name="email" formControlName="eMail" placeholder="Email" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Celular</mat-label>
                <input matInput name="celular" formControlName="celular" placeholder="Celular" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Condición</mat-label>
                <input matInput>
                <br>
                <mat-radio-button class="example-margin" name="rbcliente" value="1">Cliente</mat-radio-button>
                &nbsp;
                <mat-radio-button class="example-margin" name="rbcliente" value="2">Comercio</mat-radio-button>
            </mat-form-field>
            <br>
            <mat-label>* El Cliente debe tener activo la opción de compras por internet</mat-label>
            <br>
            <div>
                &nbsp;
            </div>
            <div>
                <!-- <button mat-button matStepperPrevious>Back</button> -->

                <button mat-raised-button color="primary" (click)="enviar()" class="casilla" [formGroup]="firstFormGroup">ENVIAR</button>
            </div>
            <div>
                &nbsp;
            </div>

            <div>
                <img mat-card-image SRC="assets\IMG\caja-cusco-imagen2.png">
            </div>
        </form>
    </mat-step>


</mat-vertical-stepper>
<mat-card-footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.cmac-cusco.com.pe/"> cmac-cusco.com.pe</a>
    </div>
</mat-card-footer>